<div
  class="container"
  style="margin: 30px; padding: 50px; background-color: lightgreen"
>
  <div style="padding: 5px; margin: 10px">
    <h3>Cusomers Details page.(Customers details component)</h3>
    <div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-4">
               {{CustomerInputInfo.name}} 
               {{CustomerInputInfo.password}} 
               {{CustomerInputInfo.location}}
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-2">
      <button class="btn btn-success" (click)="submitDta()">Sample Data</button>
    </div>
  </div>
</div>
