
<div style="margin:10px ;  padding:100px ; background-color:lightsalmon;">
  <h1>App Component</h1> 

  <!-- {name: 'Madan', password: 'madfas', location: 'adfasdas'} -->
  customerDetails.name -  {{customerDetails.name}}
  customerDetails.password - {{customerDetails.password}}
  customerDetails.location - {{customerDetails.location}}

  <!-- recalling one point is here i.e. property databinding -->

  <!-- i.e. @input decarator-->
  
<app-customer  
   [txtWorld]              = "sampletext" 
   (evtCustomerEmitter)    = "getCustomerDetails($event)"
   [CustomerSampleDetails] = "customerSampleData"
  >
  <!--I want to prepare the some content-->
  <!-- <input class="form-control col-md-7" placeholder="Location" type="text" [value]="CustomerSampleDetails.location" #txtLocation /> -->
  <input class="form-control col-md-7" placeholder="Message1" type="text"/> 

  <input class="form-control col-md-7 CusomerMessage" placeholder="CusomerMessage" type="text" #CustomerMessage/> 


  </app-customer>

<!-- <div>
     <p> i am paragraph</p>
  </div> -->

<!-- 
<input type = "text"
 [value] = "name"
 (keypress) = "onkeypress"/> -->




  <app-customer-details 
  [CustomerInputInfo] ="customerDetails"
  (SampleDataEmitter) = "takeSampleDataFunc($event)">
  </app-customer-details>
</div>

