
<div class="container" style="margin:30px;padding:50px;background-color: lightyellow;">
  <h3>Cusomer Registration page.(Customer component)</h3>
  <form>
      <div class="form-group" style="margin:10px">
       <input class="form-control col-md-7"  placeholder="Customer Name" type="text"
        [value]="CustomerSampleDetails.name" #txtCustomerName />
      </div>
      <div class="form-group" style="margin:10px">
        <input class="form-control col-md-7" placeholder="Password" type="text" [value]="CustomerSampleDetails.password"  #txPassword />
       </div>
       <div class="form-group" style="margin:10px">
        <input class="form-control col-md-7" placeholder="Location" type="text" [value]="CustomerSampleDetails.location" #txtLocation />
       </div>


       <!--Ngcontent-->
        <div class="form-group" style="margin:10px">
         <ng-content select = ".CusomerMessage"></ng-content>
        </div>



  </form>
  <div class="form-group">
    <button class="btn btn-primary" (click) = "evtClick()" >Click</button>
  </div>
</div>

























